<div layout-gt-sm="row">
  <div flex-gt-sm="80" flex-offset-gt-sm="10">
    <mat-card>
      <mat-card-title id="todo-list-title">Todos</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <mat-form-field>
          <input matInput id="todoOwner" #input placeholder="Filter by Owner" (input)="todoOwner = $event.target.value">
        </mat-form-field>
        <mat-form-field>
          <input matInput id="todoBody" #input placeholder="Filter by Body" (input)="todoBody = $event.target.value">
        </mat-form-field>
         <mat-form-field>
          <input matInput id="todoCategory" #input placeholder="Filter by Category" (input)="todoCategory = $event.target.value">
        </mat-form-field>

        <label>Status:</label>
        <mat-radio-group name="todoStatus" id="todoStatus" (change)="todoStatus = parseString($event.value)">
          <mat-radio-button id="statusTrue" value="true" name="todoStatus">Complete</mat-radio-button>
          <mat-radio-button id="statusFalse" value="false" name="todoStatus">Incomplete</mat-radio-button>
          <mat-radio-button id="statusNull" value="null" name="todoStatus">Both</mat-radio-button>
        </mat-radio-group>

        <mat-accordion *ngIf="todos; else todosError">
          <mat-expansion-panel id={{todo._id}} *ngFor="let todo of this.filterTodos(todoOwner, todoStatus, todoBody, todoCategory)">
            <mat-expansion-panel-header>
              <mat-panel-title matTooltip="complete: {{todo.status}}">{{todo.body}}</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>Id: {{todo._id}}</mat-panel-description>
            <mat-panel-description>Owner: {{todo.owner}}</mat-panel-description>
            <mat-panel-description>Category: {{todo.category}}</mat-panel-description>
            <mat-panel-description>Complete: {{todo.status}}</mat-panel-description>

          </mat-expansion-panel>
        </mat-accordion>
        <!-- Maybe this should be a pop-up instead of just a text message? Not sure. -->
        <ng-template #todosError>
          <mat-error>
            There was a problem loading the todos. Possibly the server is down or perhaps there are network
            issues.
          </mat-error>
          <mat-error>
            Please wait a bit and try again or start the server.
          </mat-error>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </div>
</div>
